extends ../layout
block head
    link(rel='stylesheet', href='/stylesheets/home/about.css')
block content
    .pager#about
        .container
            .myimg
                img(src='/images/myimg.png')
            .about-content
                .quote
                    i.icon-quote-left
                    span 伟大始于渺小
                    i.icon-quote-right
                h3 灵勇
                .aboutme
                    p 九二年生
                    p 现于东北求学
                    p 无甚作为，但未无所事事
                    p 不懂设计，却附庸设计
                    p 爱自由，有梦想
                .connect
                    h3 联系方式
                    ul
                        li
                            |微信：lingyong1992
                        li
                            |邮箱：hi@lingyong.me